.sidebar {background-color: #00134d;}
.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #263238;
    -webkit-box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
}
.header-highlight .navbar-header:not([class*=bg-]) {background-color:#00134d;}
.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {background-color: #00134d;color: #fff;}
	.navbar-brand {float: left;    padding: 2px 23px;font-size: 14px;line-height: 20px;height: 44px;}
.navigation>li>a { color: #fff;}

.media-heading {margin-bottom: 2px;margin-top: 10px;display: block;}

.panel.panel-white{background-color:#fff;}

.icon-push{    color: #454e59;font-size:13px;}

.account-span {display: block;color: #fa4356;font-size: 16px;}

.panel-flat>.panel-heading {padding-top: 10px;padding-bottom: 10px;}

.btn-1{background-color:#00134d;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-1:hover{background-color:#00134d;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.btn-2{margin:2% 0;background-color:#00134d;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}
.btn-2:hover{margin:2% 0;background-color:#00134d;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}

.authorize-div{margin:1% 0;}

.add-area { margin:0; padding:0% 0 40% 0; position:relative;}
.add-area .add-div {margin: 0;padding: 0;position: relative;}
.add-area .add-card{margin: 0 auto;padding: 0px;background-color: rgb(250, 250, 250); }
.add-area .add-card.add-cardboard { width: 100%;}
.add-area .facebook-ads{margin: 0 auto;padding: 0;text-align: center;}
.add-area .facebook-ads img{margin: 0 auto;padding: 10% 10% 10% 10%;text-align: center;vertical-align: middle;}
.add-area .alert-danger {margin: 0px;color: #17466b;background-color: #dcd9d7;border:none;font-size: 16px;border-radius: 0px;}
.add-area .alert-dismissable .close, .alert-dismissible .close { position: relative;top: 2px;right: 0;color: #000!important;font-size: 20px;font-weight: bold;}
.add-area .border-ads{ margin: 0% auto 5% auto;text-align: center;height: 6px;width: 80%;background-color:#dcd9d7;border-radius: 5px; }

.page-header+.content { padding-top: 0;padding-bottom: 5%;}
.pagination-div{  padding: 15px 0px 10px 0px;background-color: #fff;display: block;float: right;}
.top-section{  margin: 0px 0 0px 0;padding: 0;position: relative;  }

.top-section .page-header{ margin: 0;padding: 0;border-bottom-width: 0;}
.top-section .page-header-content {background-color:#fff;padding: 0 20px;margin: 0 0 10px 0;}
/*.top-section .page-title {padding: 30px 36px 30px 0;display: block;}*/
.top-section .page-title {padding: 30px 0px 28px 0;}
.top-section .heading-elements {background-color: #fff;position: relative;}
.top-section .panel-body {padding: 10px 20px;}
.top-section .col-20{width: 19%;display: inline-block;position: relative;margin: 4px 0;padding: 0 2px;line-height: 1.4;float: left;}
.top-section .panel {margin-bottom: 0px;border-color: #baaf50;text-align: center;}
.top-section h6.panel-title, .h6.panel-title {font-size: 16px;}

.top-section .heading-btn-group-div li { float: left;margin: 0 auto;padding: 0;text-align: center;display: inline-block;width: 20%;border: 0px solid #ccc;}
.top-section .img-top{width: 40%;}

.bg-white-custom-p{background-color: #fff;padding:0;}
.panel>.table-responsive>.table{border:1px solid #ddd;}
.padding-10{padding:0 20px;}

/*  */

/*svg{margin:auto!important;}

h5.panel-title, .h5.panel-title {font-size: 18px;padding: 10px 10px;text-transform:uppercase; }
h5.panel-title.order, .h5.panel-title.order {font-size: 18px;padding: 10px 0px;text-transform:uppercase; }

.btn.btn-blue{background-color: #03a9f4;color: #fff;border-radius: 20px;}
.btn.btn-blue:hover{background-color: #03a9f4;color: #fff;opacity: 1;}
.btn.btn-red{background-color: transparent;color:#f90053;border-radius: 20px;}
.btn.btn-red:hover{background-color:transparent;color:#f90053;opacity: 1;}

.datatable-header{display: none;}
.input-group-addon:last-child{    background-color: #03a9f4;border-top-right-radius: 4px;border-bottom-right-radius: 4px;color: #fff;}
.input-group-addon{border:none;}
.panel-body-1{padding:0 0 20px 0!important;}
.label-font{font-size: 11px!important;}

.table>tbody>tr>td{ border-bottom: 1px solid #ddd; }
.border-panel{border:1px solid #ddd;}
.panel>.table-responsive {    border: 0;margin-bottom: 0;margin: 0px 20px 0px 20px;border-radius: 4px;}
.pagination>.active>a{    background-color: #03a9f4;border-color: #03a9f4;}

.list-dashboard{margin:0 0 20px 0;padding: 10px;position: relative;border-radius: 4px;text-align: center;background: #fff;}
.list-dashboard h2{color: #00134d;font-size: 18px;letter-spacing: 0.5px;}
.list-dashboard p{color: rgb(31, 30, 30);font-size: 18px;letter-spacing: 1.5px;}
.list-dashboard-color-1{background-color:#eee;color: #00134d;}

.panel-color{background-color:#ddd!important;    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);}
.dashboard-section{margin:0;padding:35px 0 0 0;}

.no-padd{padding: 0 !important;}

.content-section{padding:0px 10px;}

.qr-code-icon{    padding: 20px;border: 1px solid #ec407a;border-radius: 50em;color: #ec407a;font-size: 32px;line-height: 1;text-align:center;}

.uppercase{text-transform:uppercase !important;}

.text-blue-custom{color:#ec407a;}

.span-absolute {    position: absolute;top: 15px;font-size: 32px;left: 0;right: 0;}

.text-color-custom-1{color: rgb(66, 165, 245);}
.text-color-custom-2{color: rgb(239, 83, 80);}
.text-color-custom-3{color: rgb(92, 107, 192);}
.text-color-custom-4{color: rgb(102, 187, 106);}
.text-color-custom-5{color: rgb(239, 83, 80);}

.panel-body.panel-265{min-height:265px;}

.footer.text-muted{
    position: absolute;
    bottom: 20px;	
}
*/
/******************************************************************************************************************************/


/************************** lionheart - Coach  *************************/

body {font-family: 'Montserrat', sans-serif!important;font-weight: 400;}

.navigation>li>a {padding: 15px 20px 20px 20px;height: 50px;}
.navigation>li>a > span { padding: 0px 0 0 0;display: block;letter-spacing: 0.1px; }
.navigation li a {color: rgba(255, 255, 255, 1);font-weight: 400;}
.navigation>li ul li a {padding: 10px 20px;padding-left: 75px;}
.navigation>li>ul>li>ul>li>a {padding-left: 90px;}
/*.nav-header-div{background-color: #00134d;height: 91px;}*/
.nav-header-div {background-color: #00134d;height: 91px;position: fixed;top: 0;left: 0;width: 100%;z-index: 5555555;}

.setting-i{ font-size: 22px!important;color: #fdb413; }

/*.
sidebar { width: 340px;max-height: 100%;overflow: auto;outline: none;}*/
.sidebar{ position: fixed;width: 340px;max-height: 100%;overflow-y:scroll;top: 91px;bottom: 91px;margin-bottom: -91px;}
.sidebar-xs .sidebar{overflow:inherit!important;}
/*.sidebar{ position: fixed;width: 340px;max-height: 100%;overflow: auto;top: 91px;bottom: 91px;margin-bottom: -91px;}*/

.sidebar-section{ display: table-cell;vertical-align: top;width: 340px;    z-index: 99;    position: relative;}
.sidebar-div .sidebar-user { background-color: #000924; }
.sidebar-div .sidebar-user .category-content {position: relative;padding: 25px 20px;margin-top: -1px 0 0 0;border-bottom: 1px solid #546188;border-top: 1px solid #546188;}
.sidebar-xs .sidebar-main {width: 100px;}
/*.sidebar-xs .sidebar-main .navigation-main>li>a>i {margin: 2px auto;display: block;float: none;}*/
.sidebar-xs .sidebar-main .navigation-main>li>a>i {
    margin: 2px auto;
    display: block;
    float: left;
    text-align: center;
	width: 100%;
	font-family: 'Montserrat', sans-serif!important;
}
/*.sidebar-content{ overflow-y: hidden; outline: none;}*/

.minimize-span{ display: none; }
.sidebar-xs .minimize-span{ padding:10px 5px;display: block; font-size: 10px;text-align: center;width: 100%;    font-weight: 300;letter-spacing: 1px;line-height: 1.2;}
.sidebar-xs .navigation>li>a {padding: 10px 0px 20px 0px;height: 75px;}
.sidebar-xs .navigation>li:first-child>a {padding-top: 15px;}

.navbar-brand>img {margin-top: 5px;height: 70px;margin: 12px 0 0 0;}
.navbar-default {border-color: none; }

.navbar-brand {float: left;padding: 0px 23px;font-size: 14px;width: 340px;line-height: 20px;height: 90px;}
.navbar-nav {margin-left: 0px;} 
.navbar-inverse.nav-header-div .navbar-collapse{ padding: 20px 0 0 0; }
.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {background-color: #3b4a76;color: #fff;}
.active-sub{ background-color: #1a2b5f; }
.navbar-inverse .navbar-nav>li>a>.menu-bars {background: url(../images/menubar.png) no-repeat;width: 21px;height: 23px;display: inline-block;vertical-align: middle;}
.icon-i{ height: 27px;width: 27px;margin-top: 0px!important; }
.icon-i img{ height: 23px;width: 23px; }
.dollar-sign{ height: 30px;width: 30px; }
.icon-i-1{ height: 27px;width: 27px;margin-top: 0px!important; }
.icon-i-1 img{ height: 25px;width: 25px; }
.icon-i-2{ height: 100%;width:100%;margin:0 auto;margin-top: -8px!important; }
.icon-i-2 img{ height: 25px;width: 25px; margin:0 auto;}
.div_top_heading .btn-float>span {display: block;padding-top: 10px;margin-bottom: -6px;}
.navbar-nav>li>a>.label, .navbar-nav>li>a>.badge.badge-custom {position: absolute;top: 6px;right: 10px;background-color: #fdb413;color: #00134d;padding: 0px 4px 0 4px; }
.img-user-1{ width: 40px!important;height: 40px!important; }
.navbar-nav>.dropdown-user img {max-height: 32px;}
.page-header-top .page-title {padding: 32px 36px 32px 0;}

.mb-5{ margin-bottom:5px!important;  }


/** chats **/

/******  chat *********/

.chat-body { position:fixed;height:100%; min-height:100%; height:auto; overflow-x:hidden;}

.chat-area-div{ position: relative;width: 100%;display: block; }

/*.chat-container { width:100%; height:90%; overflow-y:scroll!important; position:fixed; overflow-y:hidden; z-index:9999;background-color: #fff; }*/
.chat-container {width: 77%;height: 90%;right: 0;position: fixed;overflow-y: hidden;z-index: 9999;background-color: #fff;}
.chat-left-div {width:20%; height:90%; margin:0 0 0 10px; overflow-y:scroll; position:fixed; float:left;border: 1px solid #ddd;}
.chat-right-div {width:55%; height:82%; left:44%; overflow-y:scroll;  position:fixed; float:left;}
.chat-container .chat-footer{width:55%; left:44%;  position:fixed; bottom:10px; float:left; }

/* minimize sidebar */

.sidebar-xs .chat-container {width: 90%;height: 90%;right: 0;position: fixed;overflow-y: hidden;z-index: 9999;background-color: #fff;}
.sidebar-xs .chat-left-div {width:25%; height:90%; margin:0 0 0 10px; overflow-y:scroll; position:fixed; float:left;border: 1px solid #ddd;}
.sidebar-xs .chat-right-div {width:65%; height:82%; left:36%; overflow-y:scroll;  position:fixed; float:left;}

/* end of minimize sidebar */

/*.chat-right-div {width: 58%;height: 82%;right: 0;overflow-y: scroll;position: fixed;float: left;}*/

.chat-container .search-div{ padding:15px; width:100%;  margin:0 auto; background-color: #eee;vertical-align: middle;border-bottom: 1px solid #ddd;}
.chat-container .search-div .input-group-addon {padding: 11px 12px;color: #555;text-align: center;background-color: #fff;border: 1px solid #ddd;border-right: 0px solid #000!important;border-radius: 0px;}
.chat-container .search-div .form-control {height: 38px;padding: 10px 12px;border: 1px solid #ddd;    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);outline: none;}
.chat-container .search-div .form-control:focus {border: 1px solid #ddd;box-shadow: inset 0 1px 1px rgba(0,0,0,.0);outline: none;}
.chat-container .search-div .input-group {width: 85%;float: left;}
.chat-container .search-div .add-div{ width: 15%;float: left; }
.chat-container .search-div .img-search{ width: 30px;margin: 3px auto; }


.chat-container .listing-area{ padding: 0;margin: 0;width:100%; display:flex; flex-direction: column; }

.chat-container .user-list-div{ padding: 16px 0;margin:0;border-bottom: 1px solid #ddd; cursor:pointer; }
.chat-container .user-list-div:hover{ padding: 16px 0;margin:0;border-bottom: 1px solid #ddd;background-color: #eee; }
.chat-container .user-list-div.active-div{ background-color: #eee;border-right: 3px solid #00134d; }
.chat-container .user-list-div:last-child{border-bottom: 0px solid #ddd; }
.chat-container .user-list-div .img-user{ padding: 0px 0;margin:0 auto;width: 20%;text-align:center;float: left; }
.chat-container .user-list-div .img-user .img-circle{ padding: 0;margin:0 auto;width: 46px;height: 46px;border:1px solid #ddd; }
.chat-container .user-list-div .desc_div{ margin:0;padding: 0px 0;width: 80%;float: left; }
.chat-container .user-list-div .desc_div h5{ margin:0;padding: 7px 0 5px 0;color:#00134d;font-size: 14px;font-weight: 600;float: left;display: inline-block;width: 70%; }
.chat-container .user-list-div .desc_div span{ margin:0;padding: 7px 10px 5px 0;color:#666;font-size: 10px;font-weight: 500; display: inline-block;width: 30%;text-align: right; }
.chat-container .user-list-div .desc_div p{ margin:0;padding: 0px 0 5px 0;color:#666;font-size: 12px;font-weight: 500;display: inline-block;width: 100%; }


.chat-container .user-heading-div{ padding: 10px 20px 15px 20px;margin:0 auto; height: 70px; width:100%; background-color: #eee;vertical-align: middle;border-bottom: 1px solid #ddd;}
.chat-container .user-heading-div .left-desc-header{ padding:0;width: 80%;float: left; }
.chat-container .user-heading-div .left-desc-header h4{ margin:0;padding: 7px 0 5px 0;color:#00134d;font-size: 16px;font-weight: 600;float: left;display: inline-block; }
.chat-container .user-heading-div .left-desc-header span {margin: 0;padding: 12px 10px 5px 10px;color: #666;font-size: 10px;font-weight: 500;display: inline-block;}
.chat-container .user-heading-div .left-desc-header p{ margin:0;padding: 3px 0 5px 0;color:#666;font-size: 12px;font-weight: 500;display: inline-block;width: 100%; }

.chat-container .user-heading-div .left-desc-btn{ margin:0px auto;width: 20%;float: left;display: inline-block;text-align: center; }
.chat-container .user-heading-div .btn-view-profile {padding: 10px 25px;margin:3px auto;color: #fff;background-color: #00134d;border-radius: 24px;text-transform: uppercase;text-align: center;float: right;transition:all ease-in-out 0.3s;}
.chat-container .user-heading-div .btn-view-profile:hover {color: #fff;background-color: #fdb414;}

.chat-container .header-h3{ padding: 10px 20px;border-bottom: 1px solid #ddd; }
.chat-container .header-h3 h3{ padding:5px 0;margin:0;color:#666;font-size: 14px; }

.chat-container .chat-arae-div{ padding:0;margin:0; position:relative;  }
.chat-container .chat-message-div{ padding:15px 0;margin:0; width:100%; display:flex;   flex-direction: column; }
.chat-container .chat-sender-div{ padding:15px 0;margin:0;display: block; }
.chat-container .chat-receiver-div{ padding:15px 0;margin:0;background-color: #eee;display: block; }

.chat-container .chat-message-div .img-user{ padding: 0px 0;margin:0 auto;width: 10%;text-align:center;float: left; }
.chat-container .chat-message-div .img-user .img-circle{ padding: 0;margin:0 auto;width: 46px;height: 46px;border:1px solid #ddd; }
.chat-container .chat-message-div .message_div{ margin:0;padding: 0px 0;width: 90%;float: left; }
.chat-container .chat-message-div .message_div h5{ margin:0;padding: 7px 0 5px 0;color:#00134d;font-size: 16px;font-weight: 600;display: inline-block;width: 100%; }
.chat-container .chat-message-div .message_div p{ margin:0;padding: 0px 0 5px 0;color:#666;font-size: 13px;line-height:1.4;font-weight: 500;float: left;display: inline-block;width: 80%; }
.chat-container .chat-message-div .message_div span{ margin:0;padding: 0px 10px 5px 0;color:#666;font-size: 13px;font-weight: 500; float: left;display: inline-block;width: 20%;text-align: right; }

.chat-container .chat-footer {padding: 12px 15px;background-color: #eee;border: 1px solid #ddd;height: 60px;}
.chat-container .chat-footer .input-left{ padding:0;margin:0;width: 90%;float: left; }
.chat-container .chat-footer .input-left .form-control {height: 34px;padding: 10px 12px;border: 1px solid #ddd;border-right:0px;border-radius: 0px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00);box-shadow: inset 0 1px 1px rgba(0,0,0,.00);}
.chat-container .chat-footer .input-left .btn-default {color: #333;background-color: #fff;border-color: #ddd;border-radius: 0px;    border-left: 0px;}

.chat-container .chat-footer .btn-right{ padding:0 0 0 15px;margin:0 0 0 0;width: 10%;float: left; }
.chat-container .chat-footer .btn-send{ padding: 6px 20px;height: 34px;width: 100%;color: #fff;text-align: center;text-transform: uppercase;background-color:#00134d;border-radius: 0px;transition:all ease-in-out 0.3s;outline: none;  }
.chat-container .chat-footer .btn-send:hover {color: #fff;background-color: #fdb414;}
.chat-container .chat-footer .btn-send:focus {color: #fff;background-color: #fdb414;}
.chat-container .chat-footer .btn-attach{ height: 34px; }
.chat-container .chat-footer .input-group{ padding:0;margin:0;width: 100%;float: left; }

.chat-container .chat-footer .input-group-btn {margin:0 auto;padding:5px 0 0 0;text-align: center;height: 34px;width: 34px;background-color: #fff;border: 1px solid #ddd;border-left: 0px;}
.chat-container .chat-footer .image-upload > input{display: none;}
.chat-container .chat-footer .image-upload img{width: 8px;height: 16px;cursor: pointer;}

.chat-container .chat-detail-div { margin:0; padding:0; position:relative; }
.chat-container .back-div {display:none;}

.content-wrapper.content-chat{padding: 47px;}

/****** End of chat *********/

/** login **/

.login-bg-img{ background: #000 url(../images/blue-filter.png) no-repeat;background-size: cover;display: flex;justify-content: center;align-items: center;min-height: 100%;	}
.login-section{ padding: 0;margin:0;position: relative; }
.login-div{ padding: 120px 0 100px 0;margin:0;position: relative;}
.login-div {padding: 0;margin: 0;position: relative;height:800px;display: flex;justify-content: center;align-items: center;}

/*.logo-div-left{ margin:0;padding: 0; }*/
.logo-div-left {margin: 60px 0 0 0;padding: 0;display: flex;height: 350px;align-items: center;justify-content: center;border-right: 1px solid #fff;}
.logo-div-left.registration{margin: 90px 0 0 0;height: 500px;}
.logo-div-left .img-thumb{ margin:0 auto;padding: 0 15%; }
.logo-div-left .img-thumb img{ margin:0 auto;padding: 0;outline: none; }

/*.login-form{ margin:0;padding: 0; }*/

.login-form{ margin: 0;padding: 0; }
.login-form h1{ margin:0;padding: 20px 0;color: #fff;text-transform: uppercase;text-align: center;font-size: 18px; }
.login-form .form-div{ margin:20px auto;padding: 10px 0 0 0;width: 70%; }
.login-form .form-div .form-group {margin-bottom: 5px;}
.login-form .form-div .message-error{ color: #fff; }
.login-form .form-div .form-control {height: 50px;padding: 12px 20px;font-size: 14px;color: #fff;background-color: transparent;border: 1px solid #fff;border-radius: 12px;}
.login-btn-div{ padding: 0px 0;margin:0; }
.login-btn-div .btn-input{ height: 50px;padding: 12px 12px;font-size: 14px;color: #fff;background-color: #fdb413;border: 1px solid #fdb413;border-radius: 12px;display: block;width: 100%;font-size: 16px;transition: all 0.4s ease-in-out;font-weight: 500;text-transform: uppercase;letter-spacing: 0.5px;outline: none; }
.login-btn-div .btn-input:hover{ color: #fdb413;background-color:#fff;border: 1px solid #fff;}

.login-bottom{ padding: 20px 0; }
.login-bottom a{ padding: 10px 20px;text-align: center;width: 50%;float: left;color: #fff;text-transform: uppercase;font-size: 12px; }

.login-div ::-webkit-input-placeholder {color: #fff;} /* Chrome/Opera/Safari */
.login-div ::-moz-placeholder {color: #fff;;}/* Firefox 19+ */
.login-div :-ms-input-placeholder {color: #fff;;} /* IE 10+ */
.login-div :-moz-placeholder {color: #fff;;} /* Firefox 18- */

.general-div .login-bottom a{ width: 100%;}
.forgot-div .login-form{ padding: 80px 0 0 0; }

/********************************************************************************************************************************/

/* Class Roster  **/

.sidebar-xs .sidebar-section{ width: 100px!important;transition: width 0.5s ease-in-out; }

.page-container{ margin-top: 46px!important; }
.content-area-div {margin:0px auto;padding: 0;}
.page-header.page-header-top {margin: 0 0 0px 0!important;}
.page-header.page-header-top .text-semibold{ font-weight: 600; }

.topic-header-div{ padding: 10px 15px 10px 0px;border-bottom: 1px solid #ddd; }
.topic-header-div h1{ padding: 7px 10px 0 5px;margin: 0;font-size: 16px;font-weight: 600;}
.topic-header-div .h1-title{display:inline-block; padding: 7px 10px 0 5px;margin: 0;font-size: 16px;font-weight: 600;}
.topic-header-div p.p-note{ display:inline-block;padding: 7px 10px 0 5px;margin: 0;font-size: 14px;font-weight: 500;text-align: right;float: right;}
.top-right-div{ padding: 0px;margin: 0; }
.top-right-div .input-box{ padding: 0px;margin: 0; }
.top-right-div .input-box .input-group {width: 65%;float: left;}
.top-right-div .input-box .input-group-addon {padding: 11px 12px;color: #555;text-align: center;background-color: #fff;border: 1px solid #ddd;border-left: 0px solid #000!important;border-radius: 0px;}
.top-right-div .input-box .form-control {height: 38px;padding: 10px 12px;border: 1px solid #ddd;box-shadow: inset 0 1px 1px rgba(0,0,0,.0);outline: none;}

.btn-right-div{ padding: 0px;margin:0;width: 35%;float: left; }

.dropdown-group{ display: inline-block; }
.dropdown-group.btn-custom-dropdown{ background-color: #00134d;height: 38px;color: #fff;width: 100%;border-radius: 0px;margin: 0 0px 0 10px;text-transform: uppercase;padding: 0;}
.dropdown-group a.dropdown-toggle{ color: #fff;width: 100%;display: block;padding: 8px 0;}
.dropdown-group .span-link{ padding: 0 5px;margin:0;text-align: left;font-size: 12px; }
.dropdown-group .dropdown-menu {min-width: 350px;padding: 5px 0;box-shadow: 0 1px 3px rgba(0,0,0,0.0);}
.dropdown-group .dropdown-menu-right h1{ padding: 10px 0 10px 0;display:block;text-align: center;  }
.dropdown-group .dropdown-menu-right p{ padding: 0px 0;display:block;text-align: center;  }

.dropdown-group .input-box{ padding: 0px;margin:10px 10px 5px 10px; }
.dropdown-group .input-box .input-group {width: 100%;float: left;}
.dropdown-group .input-box .input-group-addon {padding: 11px 15px;color: #fff;text-align: center;background-color: #00134d;border: 1px solid #00134d;border-left: 0px solid #000!important;border-radius: 0px;}
.dropdown-group .input-box .form-control {height: 38px;padding: 10px 12px;border: 1px solid #ddd;box-shadow: inset 0 1px 1px rgba(0,0,0,.0);outline: none;border-radius: 0;}

.heading-right .list-inline>li:last-child {vertical-align: top;}
.dropdown-group.group-1{ padding: 0;background-color: transparent;border: transparent;vertical-align: top; }
.dropdown-group.group-1 a.dropdown-toggle{ padding: 0; }
.dropdown-group.group-1 h1{    margin: 0;font-size: 16px;font-weight: 600;text-transform: uppercase;}
.dropdown-group.group-1 p{ text-transform: uppercase;}

.middle-area-section{ margin: 0;padding: 0; }
.middle-area-div{ margin: 0px 0;padding: 20px 20px; }

.panel-accordion-div{ margin: 0!important;padding: 0;border-radius: 0px!important; }
.panel-accordion-div:nth-of-type(odd){ background-color: #fff; }
.panel-accordion-div:nth-of-type(even){ background-color: #eee; }
.panel-accordion-div:nth-of-type(even) .panel-accordion-heading{border-bottom: 0px solid #ddd!important; }
.panel-accordion-div:nth-of-type(odd) .panel-accordion-heading{border: 0px solid #ddd!important; }

.panel-accordion-div .collapse{border-top:1px solid #ddd; }
.panel-accordion-div .panel-body{ background-color: #fff; }

.panel-accordion-heading{ margin: 0;padding: 15px 20px 10px 20px;border-bottom: 1px solid #ddd; }
.panel-accordion-heading a{ margin: 0;padding: 0px 0px;color: #222;font-weight: 600;font-size: 16px;}

.panel-accordion-heading .heading-left{ padding: 0;margin:0;float: left;width: 75%;min-height: 45px;color: #666;font-weight: 400;}
.panel-accordion-heading .heading-left .span-date{ padding: 0 15px 0 0;margin:0;border-right:1px solid #ddd; }
.panel-accordion-heading .heading-left .span-total{ padding: 0 0px 0 10px;margin:0; }

.panel-accordion-heading .heading-right {padding: 0;margin: 0 auto;float: left;width: 25%;text-align: right;min-height: 45px;}
.panel-accordion-heading .heading-right ul li img{ padding: 0;margin:0 10px;width: 20px;}
.panel-accordion-heading .heading-right ul li img.img-i02{ padding: 0;margin:0 10px;width: 22px;}
.panel-accordion-heading .heading-right ul li img.img-i03{ padding: 0;margin:0 10px;width: 22px;}

.head-row{ background-color: #262626;border:1px solid #262626;color: #fff;font-weight: 600; }

.panel-accordion-div .table-striped>tbody>tr{ color: #666;font-weight: 400; }
.panel-accordion-div .table-striped>tbody>tr:nth-of-type(even) {background-color: #f5f5f5;}
.panel-accordion-div .table-striped>tbody>tr:nth-of-type(odd) {background-color: #fff!important;}

/* End of Class Roster  **/

/* view_summary.html **/

.tab-section-top{ margin:0;padding: 0;position: relative; }
.tab-div-top{ margin:0;padding: 10px 0;position: relative; }
.div-25{ width: 25%;float: left;padding: 0 10px 0 0; }
.div-25:last-child{ width: 25%;float: left;padding: 0 0px 0 0; }
.tab-div-top .tab-a{margin:0 0px 0 0;padding:14px 15px;background-color: #00134d;color: #fff;width: 100%;font-weight: 600;font-size: 13px;height: 50px;box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4) !important;transition: all 0.3s ease-in-out;}
.tab-div-top .tab-a .tab-img{ width: 17px;float: left;margin: 0 5px 0 0; }
.tab-div-top .tab-a .span-left{ float: left;padding: 2px 0 0 0; }
.tab-div-top .tab-a .span-right{ padding: 0 0px 0 10px;margin:0;float: left; }
.tab-div-top .tab-a.active{ background-color: #fdb413; }

.view_summary{ margin:0;padding: 0; }
.view_summary .panel-accordion-heading .heading-left{ width: 55%; }
.view_summary .heading-center{ padding: 0;margin: 0 auto;float: left;width: 15%;text-align: center;min-height: 45px;}
.view_summary .panel-accordion-heading .heading-right {width: 30%;text-align: right;min-height: 45px;}

.label-btn{ padding: 3px 15px;background-color: #03a9f4;border-radius: 4px;color: #fff;text-transform: capitalize;font-size: 12px; }
.label-btn.expired{background-color: #fdb414;color: #fff;}
.label-btn.cancelled{background-color: #d9534f;color: #fff;}

.add-new-class.panel-flat>.panel-heading {    padding:10px 15px;border-bottom: 1px solid #ddd;}
.add-new-class .title-form{ padding: 0 0 0 0;margin:0;font-size: 18px!important;font-weight: 500;}
.add-new-class .panel-body{padding: 0;margin:0;}
.add-new-class .form-div{ padding: 10px 0 20px 0;}
.add-new-class .form-div .form-group label{ padding: 0px 0 5px 0;margin: 0;font-size: 13px;font-weight: 400;color: #222;}
.add-new-class .form-div .checkbox label{ padding: 0 0 0 20px; }
.add-new-class .form-div .span-error{ display: block;color: #d9534f;padding: 0 0 0px 0; }
.add-new-class .form-div .input-group-addon:last-child {background-color: #fdb414;color: #fff;}

.add-new-class .btn-submit{ background-color: #fdb414;border: none;border-radius: 0px;padding: 10px 20px;text-transform: uppercase;letter-spacing: 0.5px; transition: all 0.3s ease-in-out;}
.add-new-class .btn-submit:hover,.add-new-class .btn-submit:focus{ background-color: #00134d;color: #fff;}
.add-new-class .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {background-color: #00134d;}

.p-note{ padding: 10px 15px 0px 15px; }
.bold-span{ font-weight: 600!important; }

.park-class{ display: none; } 
.colors { display: none;  }
.colors2 { display: none;  }
.colors3 { display: none;  }

.facility-show {display: block !important;}
.remove-payment{ display: none;}

.facility-class{ display: none; }
/*.parent-paid{ display: none;}*/
.default-payment{ display: block;}
/*.invoiced_account{ display: none; }*/
/*.per_child{ display: none; }
.per_hour{ display: none; }*/

.show-class{ display: block; }

.park-class-show{ display: block; }
.facility-class-show{ display: block; }
.parent-paid-show{ display: block;}
.invoiced_account-show{ display: block; }
.per_child-show{ display: block; }
.per_hour-show{ display: block; }

.form-div .form-group {min-height: 85px;margin-bottom:0px;}
.checkbox-div{ height: 85px;padding: 28px 0 10px 0; }
.checkbox-div-1{ height:100%;padding: 5px 10px 20px 10px;margin: 0; }
.checkbox-div-1  .radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {margin-left: 30px;}

.i-qus{ color: #fdb414;font-size: 14px;padding: 0 10px;}

/* demo */

/*.bootstrap-datetimepicker-widget table{ border: 1px solid #000;background-color: #fff; }*/

.bootstrap-datetimepicker-widget table{ width: 100px;overflow: hidden; }

.bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
	width:120px!important;transition: all 0.4s ease-in-out;
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 0px 0!important;transition: all 0.4s ease-in-out;
}
.bootstrap-datetimepicker-widget .btn-primary{
	background-color: #00134d!important;
	border-color: #00134d!important;
	border-radius: 100%;
	font-size: 12px!important;
}
.bootstrap-datetimepicker-widget .btn-primary:hover{
	background-color: #fdb414!important;
	border: 1px solid #fdb414!important;
	transition: all 0.3s ease-in-out;
}
.navigation>li.logout-li { padding: 0px 0px 50px 0px;}
.bootstrap-datetimepicker-widget table td{
    height: 5px !important;
    line-height: 10px !important;
	width: 5px !important;
	transition: all 0.4s ease-in-out;
	color: #222;
	padding: 2px 0 0 0!important;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second{font-size: 14px!important; color:#00134d!important;font-weight: 600!important; }

.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 20px!important;
    height: 20px!important;
    line-height: 20px!important;
	transition: all 0.4s ease-in-out;
	border-radius: 100%;
	color: #00134d;
}

/* end of demo */

/* tooltip */

[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
  }
  
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
visibility: hidden;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
position: absolute;
bottom: 150%;
left: 50%;
margin-bottom: 5px;
margin-left: -250px;
padding: 7px;
width: 300px;
text-align: justify!important;
line-height: 1.4!important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #000;
background-color: hsla(0, 0%, 20%, 0.9);
color: #fff;
content: attr(data-tooltip);
text-align: center;
font-size: 13px;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
position: absolute;
bottom: 150%;
left: 50%;
margin-left: -5px;
width: 0;
border-top: 5px solid #000;
border-top: 5px solid hsla(0, 0%, 20%, 0.9);
border-right: 5px solid transparent;
border-left: 5px solid transparent;
content: " ";
font-size: 0;
line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
visibility: visible;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity: 1;
}

/* End of tooltip */

/* modal */

.modal.custom-modal { z-index: 9999!important;}
.modal.custom-modal .modal-dialog {   margin-top: 120px!important;}
.modal.custom-modal .modal-content {border-radius: 9px!important;}
.modal.custom-modal .modal-header {padding: 0!important;background: url(../images/pop-up-bg.jpg) no-repeat center top;height: 102px;width: 100%;background-size: cover;border-bottom: none;border-top-left-radius: 6px;border-top-right-radius: 6px;}
.modal.custom-modal .modal-header .close {color: #fff;padding: 5px 10px;display: block;font-size: 44px;font-weight: 300;right: 0;position: absolute;top: 0;}
.modal.custom-modal h4#myModalLabel {color: #fff;text-align: center;padding: 40px 0px 0 15px;text-transform: uppercase;}
.modal.custom-modal .modal-footer .btn.btn-primary {border-radius: 0!important;background-color: #00134d;border: 1px solid #00134d;transition: all 0.3s ease-in-out;letter-spacing: 0.5px;text-transform: uppercase;}
.modal.custom-modal .modal-footer .btn.btn-primary:hover {border-radius: 0!important;background-color: #fdb413 !important;border: 1px solid #fdb413;}
.modal.custom-modal .modal-footer {padding: 20px;border-top: 1px solid #ddd;}
.modal.custom-modal .modal-body {padding: 20px 5px;}

/* success message */

.message-area-div-1 {margin: 0;padding: 20px 0;position: relative;}
.message-main-modal-1 .modal-body{margin: 0;padding:10px 10px!important;}
.message-main-modal-1 .modal-dialog {width: 400px;margin: 30px auto;margin-top: 180px!important;padding-right: 0px!important;}
.message-main-modal-1 .message-area-div-1 .message-thumb-1 {margin: -100px auto 0 auto;padding: 0;}
.message-main-modal-1 .message-area-div-1 .img-message {margin: 0 auto;padding: 0;}
.message-main-modal-1 .message-area-div-1 h2 {margin: 0;padding: 40px 0 10px 0;font-size: 30px;text-align: center;line-height: 1.4;color: #666;}
.message-main-modal-1 .message-area-div-1 p {margin: 0;padding: 10px 20px 40px 20px;font-size: 16px;text-align: center;line-height: 1.4;color: #333;}
.message-main-modal-1 .modal-content {border-radius: 0px!important;}
.success-btn-ok {margin: 0px 0 0 0;padding: 12px 20px!important;width: 100%!important;text-transform: uppercase;font-size: 16px;background-color: #82ce34!important;letter-spacing: 1px;border: none!important;transition: all 0.4s ease-in-out;}
.success-btn-ok:hover {color: #fff;background-color: #00134d!important;border: none;}

/* End of success message */

/* changes view summary modal */

.datepicker.datepicker-dropdown {   z-index: 999999999!important; }
.custom-modal .form-group .input-group-addon {background-color: #eee;}
.custom-modal .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {    background-color: #00134d;}
.custom-modal .dropdown-menu {padding: 1px 0;}
.custom-footer .btn-default{ letter-spacing: 0.5px!important;text-transform: uppercase!important; }

/* End of changes view summary modal */

/* end of modal **/

.remove-des{ display: inline-block; }


.view-panel{ padding: 5px!important; }
.view-div{padding: 10px 0px; }
.view-div .heading-div{ padding: 0;height: 42px;}
.view-div h4{ padding: 5px 0 0 0;margin:0;font-size: 14px;font-weight: 500; }
.view-div .btn-div-downalod{ float: right;width: 60%;padding: 0 10px;}
.view-div .btn.btn-download{ padding: 8px 20px 7px 20px;background-color: #fdb413!important;color: #fff!important;font-size: 12px;font-weight: 500;text-transform: uppercase;line-height: 22px;letter-spacing: 0.54; height: 40px;float: right;}
.view-div .img-download {width: 25px;float: left;margin: -2px 10px 0 0;}
.view-div .input-seach-div .input-group {width: 100%;float: left;}
.view-div .input-seach-div{ float: right;width: 40%;}
.view-div .input-seach-div .form-control {height: 40px;padding: 10px 12px;border: 1px solid #ddd;box-shadow: inset 0 1px 1px rgba(0,0,0,.0);outline: none;}
.view-div .input-seach-div .input-group-addon {padding: 12px 12px;color: #555;text-align: center;background-color: #fff;border: 1px solid #ddd;border-left: 0px solid #000!important;border-radius: 0px;}
.view-div .table-div{ padding: 10px 0; }
.view-div .action-i1 {    padding: 0;margin: 0 10px;width: 17px;line-height: 20px;}
.table-div .text-left .list-inline li{ width: 33%;margin:0 auto;display: inline-block; }
.table-div .text-left .list-inline li img{margin:0 auto;display: inline-block; }
.table-div .table>thead>tr>th {border-bottom: 0px solid #bbb;}

.table-div .datatable-scroll {height: 260px;overflow-y: scroll;}
.table-div .datatable-header{ display: none; }
.table-div .dataTables_paginate{ display: none; }
.table-btn{ display: block;float: right;padding: 10px 20px;margin-top: -70px; }

.btn-email{ padding: 10px 20px;text-transform: uppercase;background-color: #00134d;border: none;transition: all 0.3s ease-in-out; }
.btn-email:hover{background-color: #fdb413;border: none; }

.h3-title{ margin:0;padding: 10px 0; }
.info-div{ padding:0px 0px 0px 0;margin:0 0 20px 0;border: 1px dashed #ddd; }
.info-div p{ padding:8px 10px;margin:0;border-bottom: 1px dashed #ddd; font-size: 13px;}
.info-div p:last-child{ border-bottom: 0px solid #ddd; }
.info-div p .title-span{ padding: 0px 10px;margin: 0;font-weight: 600;width: 40%;float: left;}
.info-div p .date-span{width: 60%;float: left;}

.pra-1{padding: 10px;line-height: 24px;font-size: 14px;font-weight: 500;color: #222;}

.btn-block{ padding: 0;margin:0 auto; }
.btn-block a{ width:50%;float: left;display: inline-block; }
.btn-block a:first-child{ border-right: 1px solid #fff; }
.btn-custom-block{margin:10px 0;padding: 10px; display: block;width: 100%;background-color: #00134d;color: #fff; text-transform: uppercase;letter-spacing: 0.2px;}
.btn-custom-block:hover,.btn-custom-block:focus{background-color: #fdb413;color: #fff; }

.custom-body-1{ padding: 0 0!important; }
.heading-top{ padding: 10px 10px 5px 10px;border-bottom: 1px solid #ddd; }
.title-span-1{ color: #222;text-align: center;padding: 10px;font-weight: 600; }

.form-div-1{ padding: 20px 10px;margin:0; }
.table-div thead { background: #262626;color: #fff;}


/* End of view_summary.html **/

/* ===========================  Mobile screen and tablet screen =================================== */
@media (min-width: 769px){
    .sidebar-xs .sidebar-main .navigation-main>li>a>span{background-color: #00134d;}
}


@media only screen and (max-width: 767px){
	.nav-header-div {	z-index: 22222222;}
	.navbar-brand {padding: 0px 15px;width: 65%;}
	.sidebar {width: 100%;}
	.nav.navbar-nav.visible-xs-block{ margin: 20px 0 0 0; }
	.icon-tree5{color: #fdb413;}

	.nav.navbar-nav.navbar-right{ background-color: #00134d;z-index: 555555;padding: 15px 0;margin:-1px 0 0 0; }
	.navbar-inverse.nav-header-div .navbar-collapse {padding: 0px 0 0 0;}

		/* Chat start */	
	
		.chat-left-div { width:100%; height:auto; position:relative; float:none; margin:0;}
		.chat-container { position:relative; overflow:auto; height:auto!important; width: 100%;}
		.chat-body { position:relative; overflow:auto; height:auto!important;}
		.back-div { margin:0; padding:10px 0; display:block!important;}
		.back-div a{ color:#00134d; font-size:14px;}
		.back-div a:hover{ color:#f4b019;}
		
		.chat-container .chat-detail-div { padding:10px; display: block;height: auto;}
		.chat-container .user-heading-div .left-desc-header { width:100%; float:left;}
		.chat-container .user-heading-div { height:auto;}
		.chat-container .user-heading-div .left-desc-btn { width:100%; margin:10px 0 0 0;}
		.chat-container .chat-message-div .img-user{ width:20%;}
		.chat-container .chat-message-div .message_div{ width:80%;}
		.chat-container .chat-message-div { height:auto; overflow:auto;}
		.chat-container .chat-footer .input-left { width:100%;}
		.chat-container .chat-footer .btn-right{ width:100%; padding:0; margin:10px 0;}
		.chat-container .chat-footer { height:auto; position:relative;}
		
		#m-chat-right-div {height: 85%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 99999; /* Stay on top */
		top: 93px; /* Stay at the top */
		right: 0;
		left:auto;
		background-color: #fff; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 0px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */}
		.chat-right-div {width:100%; height:auto; left:0; overflow-y:auto;  position:relative; float:none;}
		/* Chat */
		.chat-container .chat-footer {width:100%; height:auto; left:0; overflow-y:auto;  position:relative; float:none;}
	
		/* Chat end */	
	
		/* contact us - mobile */
	
		.contact-div-2{height: 100%;background-attachment: scroll;}
		.bg-contact-2 {height: 100%;}
		.contact-div-2 .contact-card-1 {margin: 50px auto 0 auto;padding: 20px 0px 0 0px;width: 100%;}
		.contact-div-2 .contact-card-1 h2{font-size: 46px;text-align: left;}
		.contact-div-2 .contact-card-1 p{padding: 20px 0px 20px 0px;color: #fff;font-size: 16px;font-weight: 400;display: block;line-height: 24px;}
		.content-div-001{ padding: 0 0px 60px 0px;width: 100%;}
		.address-div{ padding: 30px 0px 30px 0px;margin:0 0 20px 0;color:#fff; }
		
		.chat-container .user-heading-div .btn-view-profile {display: block;width: 100%;}
		
		/* End of contact us - mobile */

		/* login **/

		.login-bg-img {	background-size: auto;object-fit: cover;}
		.login-div {padding: 10px 0 0 0;}
		.logo-div-left {margin: 60px 0 0 0;height: 100%;border-right: 0px solid #fff;}
		.logo-div-left .img-thumb img {	width: 100%;}
		.login-form .form-div {	width: 95%;}
		.login-form h1 {padding: 50px 0 0;}
		.login-bottom a {width: 100%;}

		/* End of login **/

		/********************/

		/* class roaster */

		.content-area-div {	margin: 50px auto 0 auto;padding: 0;}
		.panel-accordion-heading .heading-left {	width: 60%;min-height: 100%;}
		.panel-accordion-heading .heading-right {width: 40%;min-height: 100%;}
		.topic-header-div h1 {padding: 10px 0;}
		.page-header.page-header-top .text-semibold {	font-weight: 600;display: block;}
		.top-right-div .input-box .input-group {width: 100%;margin-bottom: 10px;}
		.dropdown-group.btn-custom-dropdown {margin: 0 0px 0 2px;}
		.btn-right-div {width: 100%;}
		.panel-accordion-heading .heading-left {width: 100%;}

		.panel-accordion-heading .heading-right {width: 100%;margin: 20px auto 10px auto;text-align: center;min-height: 30px;}
		.panel-accordion-div .panel-body{padding: 5px;}
		.dropdown-group .dropdown-menu {min-width: 265px;border-radius: 0px;}

		/* End of class roaster */

		/* view_summary **/

		.div-25{ width: 100%;float: left;padding: 5px 0px; }
		.div-25:last-child {width: 100%;}
		.tab-div-top .tab-a{margin:0 0px 0 0;padding:14px 10px;background-color: #00134d;color: #fff;width: 100%;font-weight: 600;font-size: 14px;height: 50px;box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4) !important;}
		.tab-div-top .tab-a .tab-img{ width: 20px;float: left;margin: 0 10px; }
		.tab-div-top .tab-a .span-left{ float: left; }
		.tab-div-top .tab-a .span-right{ padding: 0 10px;margin:0;float: left; }
		.tab-div-top .tab-a.active{ background-color: #fdb413; }

		.view_summary .panel-accordion-heading .heading-left{ width: 100%; }
		.view_summary .heading-center{ width: 100%;padding:0px 0;min-height: 100%;}
		.view_summary .panel-accordion-heading .heading-right {width: 100%;text-align: center;min-height: 100%;margin:10px 0 0 0;}
		.view_summary.panel-accordion-div .panel-body {padding: 10px;}
		
		/* view summary new class */

		.checkbox-div .checkbox-inline+.checkbox-inline {margin-left: 0px;}
		[data-tooltip]:before {
			bottom: 150%;
			left: 50%;
			margin-left: -150px;
			width: 250px;
		}

		/* modal */

		.view-div .heading-div {
			height: 100%;
		}
		.view-div .btn-div-downalod {
			float: left;
			width: 100%;
			padding: 10px 0px;
			display: block;
		}
		.view-div .input-seach-div {
			float: left;
			width: 100%;
			padding: 10px 0px;
		}
		.view-div .btn.btn-download {
			float: left;
			display: block;
			width: 100%;
		}

		.table-div .text-left .list-inline li {
			width: 50%;
		}
		.table-btn {width: 100%;float: left;padding: 0px 10px 10px 10px;margin-top: -10px;}
		.btn-email {display: block;}

		/* End of view_summary **/

		.title-span-1 {text-align: left;padding: 5px 0;}
		.remove-des{ display: none!important; }

		.minimize-span {display: none;}

	
}


@media only screen and (min-width: 768px) and (max-width:1023px) {
	
	.nav-header-div {	z-index: 22222222;}
	.navbar-brand {padding: 0px 15px;width: 65%;}
	.sidebar {width: 100%;}
	.nav.navbar-nav.visible-xs-block{ margin: 20px 10px 0 0; }
	.icon-tree5{color: #fdb413;}
	.sidebar sidebar-main.sidebar-div{ position: absolute;left: 0; }
	.nav.navbar-nav.navbar-right{ background-color: #00134d;z-index: 555555;padding: 15px 0;margin:-1px 0 0 0; }
	.navbar-inverse.nav-header-div .navbar-collapse {padding: 0px 0 0 0;}	

	/* Chat start */

	.chat-left-div {width:35%; height:90%; margin:0 0 0 10px; overflow-y:scroll; position:fixed; float:left;}
	.chat-right-div {width:63%; height:82%; left:37%; overflow-y:scroll;  position:fixed; float:left;}
	.chat-container .chat-footer{width:63%; left:37%;  position:fixed; bottom:10px; float:left; }

	.chat-container .chat-message-div .img-user { width:20%;}
	.chat-container .chat-message-div .message_div{ width:80%;}
	.chat-container .chat-footer .input-left { width:80%;}
	.chat-container .chat-footer .btn-right { width:20%;}
	.chat-container {width: 100%;}


	/**** End of chat *******/

	/* login **/

	.login-bg-img {	background-size: cover;object-fit: cover;height: 1024px;}
	.login-div {padding: 10px 0 0 0;}
	.logo-div-left {margin: 0px 0 0 0;height: 100%;border-right: 0px solid #fff;}
	.logo-div-left .img-thumb img {	width: 80%;}
	.login-form .form-div {	width: 95%;}
	.login-form h1 {padding: 50px 0 0;}
	.login-bottom a {width: 100%;}
	.login-form {margin: 0;padding: 100px 0 0 0;}

	/* End of login **/

	/******************************/

	/* class roster **/

	.content-area-div {	margin: 50px auto 0 auto;padding: 0;}
	.panel-accordion-heading .heading-left {	width: 65%;}
	.panel-accordion-heading .heading-right {width: 35%;}

	/* End of class roster **/
	/* view_summary **/

	.div-25{ width: 50%;float: left;padding: 5px 10px 5px 0; }
	.div-25:last-child {width: 50%;float: left;padding: 5px 10px 5px 0; }
	.tab-div-top .tab-a{margin:0 0px 0 0;padding:14px 10px;background-color: #00134d;color: #fff;width: 100%;font-weight: 600;font-size: 14px;height: 50px;box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4) !important;}
	.tab-div-top .tab-a .tab-img{ width: 17px;float: left;margin: 0 10px; }
	.tab-div-top .tab-a .span-left{ float: left; }
	.tab-div-top .tab-a .span-right{ padding: 0 10px;margin:0;float: left; }
	.tab-div-top .tab-a.active{ background-color: #fdb413; }

	.view_summary .panel-accordion-heading .heading-left{ width: 100%; }
	.view_summary .heading-center{ width: 50%;padding:10px 0;min-height: 100%;text-align: left;}
	.view_summary .panel-accordion-heading .heading-right {width: 50%;text-align: right;min-height: 100%;margin:0px 0 0 0;}
	.view_summary.panel-accordion-div .panel-body {padding: 10px;}
	
	/* view summary new class */

	.checkbox-div .checkbox-inline+.checkbox-inline {margin-left: 0px;}
	[data-tooltip]:before {
		bottom: 150%;
		left: 50%;
		margin-left: -150px;
		width: 250px;
	}
	/* End of view_summary **/

	


}


@media only screen and (min-width: 1024px) and (max-width:1366px) {
	
}
@media only screen and (min-width: 375px) and (max-width:812px) {
	
}
@media only screen and (min-width: 320px) and (max-width:568px) {

}

@media only screen and (min-width: 1367px) and (max-width:1550px) {
	.tab-div-top .tab-a .span-right{ padding: 0 0px 0 10px;margin:0;float: left; }
	.login-div {height: 750px;}
}

@media only screen and (min-width: 1024px) and (max-width:1366px) {
	.tab-div-top .tab-a .span-right{ padding: 0 0px 0 0px;margin:0;float: left; }
	.tab-div-top .tab-a{padding:14px 10px;}
	.login-div {height: 750px;}
}